h1 {
	text-align: center;
	padding-top: 3%;
	padding-bottom: 5%;
}

p {
	text-align: block;
	padding-bottom: 5%;
}

button {
	position: absolute;
	bottom: 0;
	background-color: silver;
}

#show-dashboard {
	display: none;
	margin-bottom: 100px;
}

.title {
	margin-top: 30px;
}

.selection {
	position: relative;
	margin-bottom: 3%;
}

.info-head, .info-content, .info-content-num, .news-content {
	width: 100%;
	border-style: solid;
	border-color: black;
	border-radius: 5px;
}

.info-head {
	text-align: center;
	font-size: 75%;
	background-color: silver;
	font-weight: bold;
	margin-bottom: 0px;
	margin-top: 20px;
	border-bottom: none;
	padding-top: 5px;
	padding-bottom: 5px;
}

.info-content, .info-content-num {
	text-align: center;
	padding-top: 25px;
	height: 100px;
	margin-top: 0;
	margin-bottom: 0;
}

.info-content {
	font-size: 110%;
}

.info-content-num {
	font-size: 150%;
}

.news-list {
	padding-top: 0px;
	font-size: 75%;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.stock-title {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 20px;
}

.time-period {
	margin-left: 75px;
}
